@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap");

.about {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 40px;
  h3 {
    font-size: 50px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    width: 550px;
    margin-bottom: 30px;
  }
  p {
    color: #7a7a7a;
    font-size: 19px;
  }
  .header {
    color: orange;
    width: 550px;
  }
  a {
    color: black;
    font-size: 19px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;

    &::after {
      content: "";
      width: 100%;
      display: block;
      height: 1px;
      background-color: orange;
      &:hover {
        background-color: #262b2c;
      }
    }
  }
}
