.footer {
  height: 50vh;
  .footer-list {
    margin-top: 100px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    .item {
      width: 20%;
      height: 3px;
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        a {
          text-decoration: none;
          color: #6e7051;
          font-size: 19px;
        }
      }
      h3 {
        margin-top: 0;
        text-align: start;
        font-size: 25px;
      }
      .head {
        margin-bottom: 50px;
      }
    }
  }
}
